$yellow: #FFDB1A;
$darkgrey: #323232;
$blue: #2B6CA4;

$lightestgrey: #f8f9f9;
$lightgrey: #e9e9e9;
$midgrey: #777777;

$largedesktop: 1500;
$smalldesktop: 870;
$tablet: 640;

/* Social / default colours */

$twitter: #00aced;
$facebook: #3b5998;
$googleplus: #dd4b39;
$pinterest: #cb2027;
$linkedin: #007bb6;
$youtube: #bb0000;
$vimeo: #aad450;
$tumblr: #32506d;
$instagram: #517fa4;
$flickr: #ff0084;
$dribbble: #ea4c89;
$quora: #a82400;
$foursquare: #0072b1;
$forrst: #5B9A68;
$vk: #45668e;
$wordpress: #21759b;
$stumbleupon: #EB4823;
$yahoo: #7B0099;
$blogger: #fb8f3d;
$soundcloud: #ff3a00;
$spotify: #1ED760;

$dir: "../../img/";

@mixin at-breakpoint($breakpoint) {
    @media only screen and (max-width: $breakpoint + px) {
        @content;
    }
}

@mixin respond-to($breakpoint) {
    @media only screen and (min-width: $breakpoint + px) {
        @content;
    }
}

@mixin clearfix {
    &:after {
        clear: both;
        content: '';
        display: table;
    }
}

@mixin verticalalign {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}