@import "config";

button:not(.slick-next):not(.slick-prev):not(.mfp-close), .button, input[type="submit"], .btn {
    background-color: #FFFFFF;
    border: 0;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.3);
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-family: "PT Sans", Arial, Helvetica, serif !important;
    font-size: 14px !important;
    font-weight: 600;
    height: 40px;
    letter-spacing: 0;
    line-height: 40px;
    min-width: 150px;
    padding: 0 20px !important;
    position: relative;
    text-align: center;
    text-decoration: none !important;
    text-transform: uppercase;
    transition: background-color 0.1s, color 0.1s;

    &:focus {
        outline: 0;
    }

    &:hover {
        background-color: darken(#FFFFFF, 10);
        color: #000000;
        text-decoration: none;
    }

    &:after {
        content: "\f101";
        font-family: FontAwesome;
        font-size: 11px;
        padding-left: 4px;

        @include verticalalign;
    }

    &.btn-dark {
        background-color: $darkgrey;
        color: $yellow;

        &:hover {
            background-color: darken($darkgrey, 10);
            color: #FFFFFF;
        }
    }

    &.btn-icon {
        i {
            margin-right: 8px;
        }

        &:after {
            display: none;
        }
    }

    &.btn-large {
        font-size: 22px !important;
        font-weight: 700;
        height: 50px;
        line-height: 50px;
    }

    &.btn-light {
        background-color: $blue;
        border: 0;
        color: #FFFFFF;
    }

    &.btn-highlight {
        background-color: $yellow;

        &:hover {
            background-color: darken($yellow, 10);
        }
    }

    &.btn-no-shadow {
        box-shadow: none;
    }

    &.btn-sharp-borders {
        border-radius: 2px;
    }

    &.btn-small {
        height: 30px !important;
        line-height: 30px !important;
        padding: 0 15px !important;
    }

    &.btn-white-outline {
        background-color: transparent;
        border: 2px solid #FFFFFF;
        color: #FFFFFF;
        line-height: 36px;

        &:hover {
            background-color: rgba(255, 255, 255, 0.2);
        }
    }
}

.slick-prev, .slick-next {
    position: absolute;
    top: -80px;
    width: 35px;
    height: 35px;
    border: 2px solid #e9e9e9;
    background: transparent;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
    font-size: 0;
    line-height: 27px;
    box-sizing: border-box;

    @include verticalalign;

    &:before {
        font-family: FontAwesome;
        font-size: 25px;
    }

    &:focus {
        outline: 0;
    }

    &:hover {
        border-color: $darkgrey;
        color: $darkgrey;
    }
}

.slick-prev {
    left: 20px;

    &:before {
        content: "\f104";
    }
}

.slick-next {
    right: 20px;

    &:before {
        content: "\f105";
    }
}

.featured-box-content {
    h4 {
        font-weight: 700;
    }

    .featured-box-button {
        a {
            color: $blue;
        }
    }
}

.dp-col-4, .dp-col-8 {
    @include respond-to($smalldesktop) {
        float: left;
    }
}

.dp-col-4 {
    @include respond-to($smalldesktop) {
        margin-right: 30px;
        width: calc((100% / 3) - 20px);
    }
}

.dp-col-8 {
    @include respond-to($smalldesktop) {
        margin-right: 30px;
        width: calc(((100% / 3) * 2) - 20px);
    }
}

.dp-col-right {
    margin-right: 0;
}

.nopadtop {
    padding-top: 0 !important;
}

.wpb_wrapper, .entry-content {
    strong a, p a, ul:not(.our-services) li a {
        color: $blue;
        font-weight: 700;
    }
}