@import "reusables";

header {
    .site-branding {
        img {
            max-width: 240px;
            width: 100%;
        }
    }

    .phone-text {
        color: $midgrey !important;
        line-height: 30px;

        a {
            color: $midgrey !important;
        }

        @include respond-to($smalldesktop) {
            color: $yellow !important;

            a {
                color: $yellow !important;
            }
        }


        a {
            font-weight: 700;
        }
    }

    .header-right-wrap .extract-element {
        .header-social {
            @include respond-to(1100) {
                margin-left: 25px;
            }


            i {
                background-color: $yellow;
                color: $darkgrey;
                height: 30px;
                line-height: 30px;
                width: 30px;

                &:before {
                    color: #000000;
                    font-size: 16px;
                }
            }
        }
    }

    .wpc-menu li {
        a {
            @include respond-to($largedesktop) {
                font-weight: 700;
                opacity: 1 !important;
            }
        }
    }

    .wpc-menu > li {
        @include respond-to($largedesktop) {
            & > a {
                color: #FFFFFF;
            }
        }
    }
}

.header-normal {
    .site-header.fixed-on {
        background-color: rgba(0, 0, 0, 0.9);
    }
}

.footer-social a {
    i {
        background-color: $darkgrey;
        color: $yellow;
        height: 25px;
        line-height: 25px;
        width: 25px;

        &:before {
            color: $yellow;
            font-size: 13px;
        }
    }
}

header .header-right-wrap .extract-element .header-social, .footer-social a {
    i {
        border: none;
        transition: background-color 0.1s;

        &:before {
            transition: color 0.1s;
        }

        &:hover {
            &.fa-facebook {
                background-color: $facebook;
            }

            &.fa-instagram {
                background-color: $instagram;
            }

            &.fa-twitter {
                background-color: $twitter;
            }

            &.fa-google-plus {
                background-color: $googleplus;
            }

            &.fa-youtube {
                background-color: $youtube;
            }

            &.fa-rss {
                background-color: $linkedin;
            }
        }
    }
}

.page-title-wrap {
    h1 {
        color: $blue;
    }
}

.page-children-wrapper {
    .grid-wrapper {
        .grid-item {
            h3.grid-title {
                font-weight: 700;

                a:hover {
                    color: $blue;
                }
            }

            a.grid-more {
                color: $blue;
            }

            .grid-thumbnail {
                a {
                    display: block;
                    position: relative;
                }
            }
        }
    }

    &:not(.guides-tips-grid) {
        .grid-wrapper {
            .grid-item {
                .grid-thumbnail {
                    &:before {
                        background-color: $yellow;
                        border-radius: 40px;
                        content: '';
                        display: block;
                        height: 40px;
                        left: 20px;
                        position: absolute;
                        top: 20px;
                        transition: background-color 0.1s, height 0.1s, top 0.1s, width 0.1s;
                        width: 40px;
                    }

                    &[title="Blocked Baths"]:before {
                        background-image: url($dir + "service-blockedbath.svg");
                    }

                    &[title="Blocked Drains (Internal & External)"]:before {
                        background-image: url($dir + "service-blockeddrains.svg");
                    }

                    &[title="Blocked Showers"]:before {
                        background-image: url($dir + "service-blockedshowers.svg");
                    }

                    &[title="Blocked Sinks"]:before {
                        background-image: url($dir + "service-blockedsinks.svg");
                    }

                    &[title="Blocked Toilets"]:before {
                        background-image: url($dir + "service-blockedtoilets.svg");
                    }

                    &[title="Free CCTV Drain Survey"]:before {
                        background-image: url($dir + "service-cctvdrains.svg");
                    }

                    &[title="Drain Cleaning (Internal & External)"]:before {
                        background-image: url($dir + "service-draincleaning.svg");
                    }

                    &[title="Drain Jetting"]:before {
                        background-image: url($dir + "service-drainjetting.svg");
                    }

                    &[title="Drain Repair & Relining"]:before {
                        background-image: url($dir + "service-drainrepair.svg");
                    }

                    &[title="Drain Testing"]:before {
                        background-image: url($dir + "service-draintesting.svg");
                    }

                    &[title="Blocked/Broken Saniflo Toilet"]:before {
                        background-image: url($dir + "service-saniflo.svg");
                    }
                }
            }
        }
    }
}

.breadcrumbs {
    span {
        margin-right: 10px;

        @include respond-to($tablet) {
            margin-right: 15px;
        }


        a {
            &:before {
                display: none;
            }

            &:after {
                border: 0 !important;
                color: $blue;
                content: "\f054";
                font-family: FontAwesome;
                font-weight: 200;
                left: auto !important;
                opacity: 0.5;
                position: relative;
                right: auto !important;
                top: 1px !important;
            }
        }
    }
}

.dp-header-img, .dp-imgtxtbtn {
    background-position: center top;
    background-size: cover;
    height: 390px;
    position: relative;

    &:before {
        background-color: rgba(0, 0, 0, 0.65);
        content: '';
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

    @include respond-to($tablet) {
        height: 370px;
    }


    @include respond-to($smalldesktop) {
        height: 500px;
        height: 75vh;
    }


    @include respond-to($largedesktop) {
        background-attachment: fixed;
    }


    .container {
        box-sizing: border-box;
        height: 100%;
        padding-top: 65px;

        @include respond-to($smalldesktop) {
            padding-top: 40px;
        }
    }

    .txtholder {
        position: relative;
        text-align: center;

        @include verticalalign;

        @include respond-to($tablet) {
            text-align: left;
        }


        h1 {
            color: #FFFFFF;
            font-weight: 700;
            text-transform: uppercase;

            b {
                color: $yellow;
                display: block;
                text-align: center;

                @include respond-to($tablet) {
                    display: inline;
                }
            }
        }

        p {
            color: #FFFFFF;
            display: none;

            @include respond-to($tablet) {
                display: inline;
            }
        }

        .dp-header-buttons {
            padding-top: 35px;

            .button {
                display: block;
                margin-bottom: 10px;

                @include respond-to($tablet) {
                    display: inline-block;
                    margin-bottom: 0;

                    &:first-child {
                        margin-right: 15px;
                    }
                }
            }
        }
    }

    &.location-header {
        .txtholder {
            h1 {
                color: $yellow;
                font-weight: 400;

                strong {
                    font-weight: 800;
                }
            }
        }
    }
}

.header-widget.header-widget-mobile {
    @include at-breakpoint(1100) {
        top: 97px !important;
    }
}

.wpc-menu.wpc-menu-mobile {
    @include at-breakpoint(1100) {
        top: 147px !important;
    }
}

#nav-toggle {
    color: #FFFFFF !important;
}

.dp-imgtxtbtn {
    @include respond-to($smalldesktop) {
        height: 500px;
    }


    & + .wpb_column {
        display: none;
    }

    .container {
        padding-top: 0;
    }

    h4 {
        color: #FFFFFF;
        font-size: 12px;
        text-transform: uppercase;
    }

    h2 {
        color: $yellow;
        font-size: 28px;
        font-weight: 700;

        @include respond-to($smalldesktop) {
            font-size: 34px;
        }
    }
}

.dp-our-services {
    .custom-heading {
        text-align: center;

        @include respond-to($smalldesktop) {
            text-align: left;
        }


        span {
            margin: 0 auto;

            @incldue respond-to($smalldesktop) {
                margin: 0;
            }
        }
    }

    ul {
        list-style: none;
        margin: 0;
        -webkit-margin-before: 0;
        -webkit-margin-after: 0;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        -webkit-padding-start: 0px;

        li {
            float: left;
            width: 50%;

            &:nth-child(even) {
                float: right;
            }

            @include respond-to($smalldesktop) {
                box-sizing: border-box;
                margin-right: 40px;
                padding-bottom: 30px;
                width: calc(25% - 30px);

                &:nth-child(even) {
                    float: left;
                }

                &:nth-child(4n) {
                    float: right;
                    margin-right: 0;
                }
            }


            .icon-block {
                background-color: $yellow;
                border-radius: 80px;
                content: '';
                display: block;
                height: 80px;
                left: 0;
                margin: 0 auto;
                position: absolute;
                right: 0;
                top: 0;
                transition: background-color 0.1s, height 0.1s, top 0.1s, width 0.1s;
                width: 80px;

                @include respond-to($smalldesktop) {
                    height: 100px;
                    width: 100px;
                }
            }

            &.blockedbaths .icon-block {
                background-image: url($dir + "service-blockedbath.svg");
            }

            &.blockeddrains .icon-block {
                background-image: url($dir + "service-blockeddrains.svg");
            }

            &.blockedshowers .icon-block {
                background-image: url($dir + "service-blockedshowers.svg");
            }

            &.blockedsinks .icon-block {
                background-image: url($dir + "service-blockedsinks.svg");
            }

            &.blockedtoilets .icon-block {
                background-image: url($dir + "service-blockedtoilets.svg");
            }

            &.freecctvdrainsurvey .icon-block {
                background-image: url($dir + "service-cctvdrains.svg");
            }

            &.contact .icon-block {
                background-color: $blue;
                background-image: url($dir + "service-contact.svg");
            }

            &.draincleaning .icon-block {
                background-image: url($dir + "service-draincleaning.svg");
            }

            &.drainjetting .icon-block {
                background-image: url($dir + "service-drainjetting.svg");
            }

            &.drainrepairrelining .icon-block {
                background-image: url($dir + "service-drainrepair.svg");
            }

            &.draintesting .icon-block {
                background-image: url($dir + "service-draintesting.svg");
            }

            &.blockedbrokensaniflotoilet .icon-block {
                background-image: url($dir + "service-saniflo.svg");
            }

            p {
                font-size: 16px;

                span {
                    display: none;
                    font-size: 14px;

                    @include respond-to($tablet) {
                        display: block;
                        padding-top: 5px;
                    }
                }
            }

            a {
                color: $darkgrey;
                display: block;
                padding-top: 100px;
                position: relative;
                text-align: center;

                @include respond-to($smalldesktop) {
                    padding-top: 120px;
                }
            }

            &:hover {
                a {
                    text-decoration: none;
                }

                .icon-block {
                    background-color: darken($yellow, 10);
                    height: 90px;
                    width: 90px;
                    top: -5px;

                    @include respond-to($smalldesktop) {
                        height: 110px;
                        width: 110px;
                    }
                }

                &.contact .icon-block {
                    background-color: darken($blue, 10);
                }

                strong {
                    text-decoration: underline;
                }
            }
        }
    }
}

.dp-cta {
    background-color: $yellow;
    padding: 20px 0;
    text-align: center;

    @include clearfix;

    & + .wpb_column {
        display: none;
    }

    h2 {
        font-weight: 700;

        @include respond-to($smalldesktop) {
            float: left;
            line-height: 40px;
            margin-bottom: 0;
        }
    }

    .button {
        @include respond-to($smalldesktop) {
            float: right;
        }
    }
}

.custom-service + article .entry-content .dp-cta {
    h2, .button {
        float: none !important;
    }

    .button {
        margin-top: 20px;
    }
}

.custom-service {
    margin-bottom: 20px;
}

.services-header {
    background-position: center !important;
    max-height: 560px;
    padding: 120px 0 40px !important;
    position: relative;

    &:before {
        background-color: rgba(0, 0, 0, 0.65);
        content: '';
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

    @include respond-to($smalldesktop) {
        padding: 300px 0 60px !important;
    }


    &:before {
        background-color: rgba(0, 0, 0, 0.3);
        content: '';
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;
    }

    .iconblock {
        background-color: $yellow;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 40px;
        border-radius: 50px;
        display: block;
        height: 50px;
        margin-bottom: 20px;
        width: 50px;

        @include respond-to($smalldesktop) {
            background-size: 90px;
            border-radius: 100px;
            height: 100px;
            margin-bottom: 30px;
            width: 100px;
        }


        &.blockedbaths {
            background-image: url($dir + "service-blockedbath.svg");
        }

        &.blockeddrainsinternalexternal {
            background-image: url($dir + "service-blockeddrains.svg");
        }

        &.blockedshowers {
            background-image: url($dir + "service-blockedshowers.svg");
        }

        &.blockedsinks {
            background-image: url($dir + "service-blockedsinks.svg");
        }

        &.blockedtoilets {
            background-image: url($dir + "service-blockedtoilets.svg");
        }

        &.freecctvdrainsurvey {
            background-image: url($dir + "service-cctvdrains.svg");
        }

        &.draincleaninginternalexternal {
            background-image: url($dir + "service-draincleaning.svg");
        }

        &.drainjetting {
            background-image: url($dir + "service-drainjetting.svg");
        }

        &.drainrepairrelining {
            background-image: url($dir + "service-drainrepair.svg");
        }

        &.draintesting {
            background-image: url($dir + "service-draintesting.svg");
        }

        &.blockedbrokensaniflotoilet {
            background-image: url($dir + "service-saniflo.svg");
        }
    }

    h1, span {
        color: #FFFFFF !important;
        text-shadow: none !important;
    }

    h1 {
        padding-bottom: 15px;
    }
}

.dp-locations {
    .locations-top {
        padding: 40px 0;
        text-align: center;

        @include respond-to($smalldesktop) {
            padding: 60px 0;
        }


        .heading-line {
            margin: 0 auto;
        }

        .location-intro {
            font-size: 17px;

            p {
                color: #000000;
            }
        }
    }

    .locations-grid {
        .location-item {
            background-color: $lightestgrey;
            margin-bottom: 20px;
            padding: 10px;

            @include respond-to($tablet) {
                float: left;
                margin-right: 20px;
                width: calc(50% - 10px);

                &:nth-child(2n) {
                    margin-right: 0;
                }
            }


            @include respond-to($smalldesktop) {
                width: calc(25% - 15px);

                &:nth-child(2n) {
                    margin-right: 20px;
                }

                &:nth-child(4n) {
                    margin-right: 0px;
                }
            }


            h4 {
                color: #000000;
                font-size: 16px;
            }

            p, a {
                color: $midgrey;
                font-size: 13px;
            }

            .phone, .detail {
                color: $blue;
                font-weight: 700;
            }

            .detail {
                text-transform: uppercase;
            }
        }
    }
}

.sidebar {
    h4 {
        font-weight: 700;
    }

    .services-sidebar {
        ul.service-list {
            padding-bottom: 40px;

            li {
                font-size: 13px;
                height: 40px;
                line-height: 40px;
                margin: 0;
                padding-left: 40px;
                position: relative;

                &:before {
                    background-color: $yellow;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: 23px;
                    border-radius: 25px;
                    content: '';
                    display: block;
                    height: 25px;
                    position: absolute;
                    left: 0;
                    width: 25px;

                    @include verticalalign;
                }

                a {
                    color: $midgrey;
                }

                &.cur {
                    border-bottom: 1px solid $lightgrey;
                    border-top: 1px solid $lightgrey;
                    font-weight: 600;

                    a {
                        color: $blue;
                    }
                }

                &.all:before {
                    background-color: transparent;
                    background-image: url($dir + "service-allservices.svg");
                }

                &.blockedbaths:before {
                    background-image: url($dir + "service-blockedbath.svg");
                }

                &.blockeddrainsinternalexternal:before {
                    background-image: url($dir + "service-blockeddrains.svg");
                }

                &.blockedshowers:before {
                    background-image: url($dir + "service-blockedshowers.svg");
                }

                &.blockedsinks:before {
                    background-image: url($dir + "service-blockedsinks.svg");
                }

                &.blockedtoilets:before {
                    background-image: url($dir + "service-blockedtoilets.svg");
                }

                &.freecctvdrainsurvey:before {
                    background-image: url($dir + "service-cctvdrains.svg");
                }

                &.draincleaninginternalexternal:before {
                    background-image: url($dir + "service-draincleaning.svg");
                }

                &.drainjetting:before {
                    background-image: url($dir + "service-drainjetting.svg");
                }

                &.drainrepairrelining:before {
                    background-image: url($dir + "service-drainrepair.svg");
                }

                &.draintesting:before {
                    background-image: url($dir + "service-draintesting.svg");
                }

                &.blockedbrokensaniflotoilet:before {
                    background-image: url($dir + "service-saniflo.svg");
                }
            }
        }

        .contact-info-box {
            p, a {
                color: $midgrey;
            }

            .phone {
                color: $blue;
                font-weight: 700;
            }
        }
    }
}

.dp-reviews {
    background-color: $lightestgrey;
    padding: 30px 0;

    a {
        background-position: center;
        background-repeat: no-repeat;
        background-size: 240px;
        box-sizing: border-box;
        display: block;
        float: left;
        height: 180px;
        width: 100%;

        &.google {
            background-image: url($dir + "ratings-google.svg");
        }

        &.trustpilot {
            background-image: url($dir + "ratings-trustpilot.svg");
        }

        &.yell {
            background-image: url($dir + "ratings-yell.svg");
        }

        @include respond-to($smalldesktop) {
            border-right: 1px solid $lightgrey;
            height: 220px;
            width: calc(100% / 3);

            &:last-child {
                border-right: 0;
            }
        }
    }
}

.dp-location-map {
    background-color: $blue;
    height: 300px;

    @include respond-to($tablet) {
        height: 400px;
    }


    @include respond-to($smalldesktop) {
        height: 600px;
    }
}

.dp-our-clients {
    @include respond-to($smalldesktop) {
        padding-top: 30px;
    }


    .client-list {
        a {
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            box-sizing: border-box;
            display: block;
            float: left;
            height: 50px;
            width: 25%;

            @include respond-to($tablet) {
                border: 1px solid $lightgrey;
                height: 90px;
            }


            @include respond-to($smalldesktop) {
                height: 110px;
                width: calc(100% / 7);
            }
        }
    }
}

.recent-news-wrapper {
    .grid-item {
        h4.grid-title {
            a {
                color: #FFFFFF;
            }
        }

        p {
            color: $lightgrey;
        }
    }
}

.page-children-wrapper {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0px 30px;
    position: relative;

    @include respond-to($smalldesktop) {
        padding: 0 50px;
    }
}

.content-area-full#primary {
    padding-bottom: 0;
}

footer.site-footer {
    background: url($dir + "footer-bg.jpg") center no-repeat;
    background-size: cover;
    position: relative;
    z-index: 55555;

    @include respond-to($largedesktop) {
        background-attachment: fixed;
    }


    &:before {
        background-color: rgba(0, 0, 0, 0.9);
        content: '';
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 0;
    }

    .footer-form {
        padding-top: 40px;

        .dp-col-4 {
            @include respond-to($smalldesktop) {
                height: 310px;
            }
        }

        .logo {
            background: url($dir + "desktop-logo.svg") left center no-repeat;
            background-size: contain;
            display: block;
            height: 60px;
            margin: 0 auto;
            position: relative;
            width: 260px;

            @include verticalalign;

            @include respond-to($smalldesktop) {
                margin: 0;

                @include verticalalign;
            }
        }

        h2 {
            color: #FFFFFF;
        }
    }

    .link-list {
        a:before {
            color: $yellow;
            content: "\f0da";
            font-family: FontAwesome;
            padding-right: 5px;
        }
    }

    .contact-info-box {
        padding-bottom: 20px;
    }

    .accreditations {
        a {
            display: block;
            float: left;
            width: calc(50% - 5px);

            &:last-child {
                float: right;
            }
        }
    }
}

form.contact-form {
    @include clearfix;

    .form-left {
        @include respond-to($smalldesktop) {
            float: left;
            width: calc(50% - 15px);
        }
    }

    .form-right {
        @include respond-to($smalldesktop) {
            float: right;
            width: calc(50% - 15px);
        }
    }

    input, textarea {
        margin-bottom: 15px;
        width: 100%;
    }

    textarea {
        height: 103px;
    }

    button {
        float: right;
    }
}

.testimonial_carousel_wrapper {
    .testimonial.testimonial-item {
        @include respond-to($tablet) {
            margin-right: 20px;
        }


        .testimonial-header {
            margin-top: -15px;
            padding-left: 10px;
        }

        .testimonial-logo-face {
            background-color: #FFFFFF;
            border: 1px solid $lightgrey;
            border-radius: 70px;
            display: inline-block;
            float: left;
            padding: 5px 8px;

            @include clearfix;

            .testimonial-logo {
                float: left;
                position: relative;

                img {
                    max-height: 50px;
                }
            }

            .testimonial-avatar {
                margin-top: 0;
                margin-right: 0;

                img {
                    width: 50px;
                }
            }
        }

        .testimonial-name {
            float: left;
            font-weight: 700;
            line-height: 60px;
            margin: 5px 0 0 10px;
        }
    }
}

.location-page {
    .dp-location-map {
        background-color: $blue;
        height: 220px;

        @include respond-to($tablet) {
            height: 300px;
        }


        @include respond-to($smalldesktop) {
            height: 460px;
        }
    }

    .sidebar, .content-area {
        border-left: 0 !important;
        border-right: 0 !important;
    }
}

.commercial-cta {
    background: url($dir + "commercial.jpg") center top no-repeat;
    background-size: cover;
    padding: 40px 0;
    position: relative;
    text-align: center;

    &:before {
        background-color: rgba($blue, 0.85);
        content: '';
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 0;
    }

    @include respond-to($largedesktop) {
        background-attachment: fixed;
        padding: 80px 0;
    }


    .text {
        margin: 0 auto;
        max-width: 600px;

        p {
            color: #FFFFFF;
        }

        .button {
            color: $blue;
            margin-top: 20px;
        }
    }
}

.instagram-section {
    background-color: #000000;
    padding: 30px 0;

    .custom-heading {
        h2 {
            color: #FFFFFF;

            i {
                margin-right: 3px;
            }
        }

        .heading-line {
            background-color: $darkgrey;
        }
    }

    .instagram-grid {
        clear: both;

        .instagram-box {
            margin-bottom: 20px;
            position: relative;
            transition: opacity 0.2s;

            &.hidden {
                height: 0;
                opacity: 0;
            }

            @include respond-to($tablet) {
                float: left;
                margin-right: 20px;
                width: calc(50% - 10px);

                &:nth-child(2n) {
                    margin-right: 0;
                }
            }


            @include respond-to($smalldesktop) {
                width: calc(25% - 15px);

                &:nth-child(2n) {
                    margin-right: 20px;
                }

                &:nth-child(4n) {
                    margin-right: 0px;
                }
            }


            img {
                width: 100%;
            }

            .in-content {
                background-color: rgba(0, 0, 0, 0.6);
                height: 100%;
                left: 0;
                opacity: 0;
                position: absolute;
                text-align: center;
                top: 0;
                transition: opacity 0.1s;

                .holder {
                    color: #FFFFFF;
                    margin: 0 auto;
                    position: relative;
                    width: 80%;
                    width: calc(100% - 40px);

                    @include verticalalign;

                    .buttons {
                        margin: 10px auto 0;
                        width: 90px;

                        a {
                            display: block;
                            float: left;
                            height: 40px;
                            width: 40px;

                            &.like {
                                background: url($dir + "instagram-like.svg") center no-repeat;
                                background-size: 40px;
                                margin-right: 10px;
                            }

                            &.comment {
                                background: url($dir + "instagram-comment.svg") center no-repeat;
                                background-size: 40px;
                            }
                        }
                    }
                }
            }

            &:hover {
                .in-content {
                    opacity: 1;
                }
            }
        }
    }

    .load-instagram {
        clear: both;
        display: block;
        margin: 20px auto 0;
        width: 200px;
    }
}

.contact-info-box {
    .contact-info-item {
        border-bottom: 1px dotted $lightgrey;
        padding-bottom: 8px;

        i:not(.leave) {
            position: relative;
            top: -2px;
        }
    }
}

.dp-full-img {
    .the-img {
        background-position: center;
        background-size: cover;
        height: 250px;

        @include respond-to($tablet) {
            height: 400px;
        }


        @include respond-to($smalldesktop) {
            height: 450px;
        }
    }
}

.page-title-wrap {
    .button.right {
        clear: both;
        float: left;
        margin-top: 20px;

        @include respond-to($smalldesktop) {
            clear: none;
            float: right;
            margin-top: 0;
        }
    }
}

.dp-large-cta {
    background-color: $blue;
    display: block;
    padding: 15px 18px 30px;
    position: relative;

    &:hover {
        background-color: darken($blue, 10);
        color: #FFFFFF;
        text-decoration: none !important;
    }

    &:after {
        background: url($dir + "icon-guide.svg") right bottom no-repeat;
        background-size: 50px;
        bottom: 15px;
        content: '';
        height: 70px;
        position: absolute;
        right: 18px;
        width: 50px;

        @include respond-to($smalldesktop) {
            background-size: 70px;
            bottom: auto;
            height: 100px;
            top: 15px;
            width: 70px;
        }
    }

    h2, p {
        color: #FFFFFF;
    }

    h2 {
        font-weight: 700;
        position: relative;

        &:after {
            background-color: #FFFFFF;
            bottom: -10px;
            content: '';
            display: block;
            height: 1px;
            position: absolute;
            width: 60px;
        }
    }

    p {
        font-size: 17px;
        max-width: 300px;
    }
}

body.modal-open {
    .bodyholder {
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
    }

    header {
        background: rgba(0, 0, 0, 0.8);
        width: 100%;
        z-index: 80;

        @include respond-to(1100) {
            position: fixed !important;
            width: 100% !important;
            top: 0;
            left: 0;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
            transition: all 0.5s ease;
            z-index: 100;
            background: rgba(0, 0, 0, 0.99) !important;
            padding-top: 15px;
        }
    }
}

.modal-holder {
    background-color: rgba(#333333, 0.7);
    box-sizing: border-box;
    display: none;
    height: 100%;
    left: 0;
    padding-bottom: 20px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999999999999999999999999999999999;

    .close-modal {
        background-image: url($dir + "modal-close.svg");
        background-position: center;
        background-size: 40px;
        cursor: pointer;
        height: 40px;
        position: absolute;
        right: 15px;
        top: 15px;
        width: 40px;

        @include respond-to($smalldesktop) {
            right: 25px;
            top: 25px;
        }
    }

    .contact-modal {
        background-color: #000000;
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.95);
        box-sizing: border-box;
        left: 20px;
        margin: 0 auto;
        max-width: 800px;
        padding: 15px;
        position: absolute;
        right: 20px;
        top: 20px;
        width: calc(100% - 40px);

        @include respond-to($smalldesktop) {
            padding: 25px;

            @include verticalalign;
        }


        h2 {
            color: #FFFFFF;
        }
    }
}