/* Social / default colours */
/* line 3, ../sass/_reusables.scss */
button:not(.slick-next):not(.slick-prev):not(.mfp-close), .button, input[type="submit"], .btn {
  background-color: #FFFFFF;
  border: 0;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.3);
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: "PT Sans", Arial, Helvetica, serif !important;
  font-size: 14px !important;
  font-weight: 600;
  height: 40px;
  letter-spacing: 0;
  line-height: 40px;
  min-width: 150px;
  padding: 0 20px !important;
  position: relative;
  text-align: center;
  text-decoration: none !important;
  text-transform: uppercase;
  transition: background-color 0.1s, color 0.1s;
}
/* line 26, ../sass/_reusables.scss */
button:not(.slick-next):not(.slick-prev):not(.mfp-close):focus, .button:focus, input[type="submit"]:focus, .btn:focus {
  outline: 0;
}
/* line 30, ../sass/_reusables.scss */
button:not(.slick-next):not(.slick-prev):not(.mfp-close):hover, .button:hover, input[type="submit"]:hover, .btn:hover {
  background-color: #e6e6e6;
  color: #000000;
  text-decoration: none;
}
/* line 36, ../sass/_reusables.scss */
button:not(.slick-next):not(.slick-prev):not(.mfp-close):after, .button:after, input[type="submit"]:after, .btn:after {
  content: "\f101";
  font-family: FontAwesome;
  font-size: 11px;
  padding-left: 4px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 45, ../sass/_reusables.scss */
button:not(.slick-next):not(.slick-prev):not(.mfp-close).btn-dark, .button.btn-dark, input[type="submit"].btn-dark, .btn.btn-dark {
  background-color: #323232;
  color: #FFDB1A;
}
/* line 49, ../sass/_reusables.scss */
button:not(.slick-next):not(.slick-prev):not(.mfp-close).btn-dark:hover, .button.btn-dark:hover, input[type="submit"].btn-dark:hover, .btn.btn-dark:hover {
  background-color: #191919;
  color: #FFFFFF;
}
/* line 56, ../sass/_reusables.scss */
button:not(.slick-next):not(.slick-prev):not(.mfp-close).btn-icon i, .button.btn-icon i, input[type="submit"].btn-icon i, .btn.btn-icon i {
  margin-right: 8px;
}
/* line 60, ../sass/_reusables.scss */
button:not(.slick-next):not(.slick-prev):not(.mfp-close).btn-icon:after, .button.btn-icon:after, input[type="submit"].btn-icon:after, .btn.btn-icon:after {
  display: none;
}
/* line 65, ../sass/_reusables.scss */
button:not(.slick-next):not(.slick-prev):not(.mfp-close).btn-large, .button.btn-large, input[type="submit"].btn-large, .btn.btn-large {
  font-size: 22px !important;
  font-weight: 700;
  height: 50px;
  line-height: 50px;
}
/* line 72, ../sass/_reusables.scss */
button:not(.slick-next):not(.slick-prev):not(.mfp-close).btn-light, .button.btn-light, input[type="submit"].btn-light, .btn.btn-light {
  background-color: #2B6CA4;
  border: 0;
  color: #FFFFFF;
}
/* line 78, ../sass/_reusables.scss */
button:not(.slick-next):not(.slick-prev):not(.mfp-close).btn-highlight, .button.btn-highlight, input[type="submit"].btn-highlight, .btn.btn-highlight {
  background-color: #FFDB1A;
}
/* line 81, ../sass/_reusables.scss */
button:not(.slick-next):not(.slick-prev):not(.mfp-close).btn-highlight:hover, .button.btn-highlight:hover, input[type="submit"].btn-highlight:hover, .btn.btn-highlight:hover {
  background-color: #e6c200;
}
/* line 86, ../sass/_reusables.scss */
button:not(.slick-next):not(.slick-prev):not(.mfp-close).btn-no-shadow, .button.btn-no-shadow, input[type="submit"].btn-no-shadow, .btn.btn-no-shadow {
  box-shadow: none;
}
/* line 90, ../sass/_reusables.scss */
button:not(.slick-next):not(.slick-prev):not(.mfp-close).btn-sharp-borders, .button.btn-sharp-borders, input[type="submit"].btn-sharp-borders, .btn.btn-sharp-borders {
  border-radius: 2px;
}
/* line 94, ../sass/_reusables.scss */
button:not(.slick-next):not(.slick-prev):not(.mfp-close).btn-small, .button.btn-small, input[type="submit"].btn-small, .btn.btn-small {
  height: 30px !important;
  line-height: 30px !important;
  padding: 0 15px !important;
}
/* line 100, ../sass/_reusables.scss */
button:not(.slick-next):not(.slick-prev):not(.mfp-close).btn-white-outline, .button.btn-white-outline, input[type="submit"].btn-white-outline, .btn.btn-white-outline {
  background-color: transparent;
  border: 2px solid #FFFFFF;
  color: #FFFFFF;
  line-height: 36px;
}
/* line 106, ../sass/_reusables.scss */
button:not(.slick-next):not(.slick-prev):not(.mfp-close).btn-white-outline:hover, .button.btn-white-outline:hover, input[type="submit"].btn-white-outline:hover, .btn.btn-white-outline:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* line 112, ../sass/_reusables.scss */
.slick-prev, .slick-next {
  position: absolute;
  top: -80px;
  width: 35px;
  height: 35px;
  border: 2px solid #e9e9e9;
  background: transparent;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  cursor: pointer;
  font-size: 0;
  line-height: 27px;
  box-sizing: border-box;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 129, ../sass/_reusables.scss */
.slick-prev:before, .slick-next:before {
  font-family: FontAwesome;
  font-size: 25px;
}
/* line 134, ../sass/_reusables.scss */
.slick-prev:focus, .slick-next:focus {
  outline: 0;
}
/* line 138, ../sass/_reusables.scss */
.slick-prev:hover, .slick-next:hover {
  border-color: #323232;
  color: #323232;
}

/* line 144, ../sass/_reusables.scss */
.slick-prev {
  left: 20px;
}
/* line 147, ../sass/_reusables.scss */
.slick-prev:before {
  content: "\f104";
}

/* line 152, ../sass/_reusables.scss */
.slick-next {
  right: 20px;
}
/* line 155, ../sass/_reusables.scss */
.slick-next:before {
  content: "\f105";
}

/* line 161, ../sass/_reusables.scss */
.featured-box-content h4 {
  font-weight: 700;
}
/* line 166, ../sass/_reusables.scss */
.featured-box-content .featured-box-button a {
  color: #2B6CA4;
}

@media only screen and (min-width: 870px) {
  /* line 172, ../sass/_reusables.scss */
  .dp-col-4, .dp-col-8 {
    float: left;
  }
}

@media only screen and (min-width: 870px) {
  /* line 178, ../sass/_reusables.scss */
  .dp-col-4 {
    margin-right: 30px;
    width: calc((100% / 3) - 20px);
  }
}

@media only screen and (min-width: 870px) {
  /* line 185, ../sass/_reusables.scss */
  .dp-col-8 {
    margin-right: 30px;
    width: calc(((100% / 3) * 2) - 20px);
  }
}

/* line 192, ../sass/_reusables.scss */
.dp-col-right {
  margin-right: 0;
}

/* line 196, ../sass/_reusables.scss */
.nopadtop {
  padding-top: 0 !important;
}

/* line 201, ../sass/_reusables.scss */
.wpb_wrapper strong a, .wpb_wrapper p a, .wpb_wrapper ul:not(.our-services) li a, .entry-content strong a, .entry-content p a, .entry-content ul:not(.our-services) li a {
  color: #2B6CA4;
  font-weight: 700;
}

/* line 5, ../sass/screen.scss */
header .site-branding img {
  max-width: 240px;
  width: 100%;
}
/* line 11, ../sass/screen.scss */
header .phone-text {
  color: #777777 !important;
  line-height: 30px;
}
/* line 15, ../sass/screen.scss */
header .phone-text a {
  color: #777777 !important;
}
@media only screen and (min-width: 870px) {
  /* line 11, ../sass/screen.scss */
  header .phone-text {
    color: #FFDB1A !important;
  }
  /* line 22, ../sass/screen.scss */
  header .phone-text a {
    color: #FFDB1A !important;
  }
}
/* line 28, ../sass/screen.scss */
header .phone-text a {
  font-weight: 700;
}
@media only screen and (min-width: 1100px) {
  /* line 34, ../sass/screen.scss */
  header .header-right-wrap .extract-element .header-social {
    margin-left: 25px;
  }
}
/* line 40, ../sass/screen.scss */
header .header-right-wrap .extract-element .header-social i {
  background-color: #FFDB1A;
  color: #323232;
  height: 30px;
  line-height: 30px;
  width: 30px;
}
/* line 47, ../sass/screen.scss */
header .header-right-wrap .extract-element .header-social i:before {
  color: #000000;
  font-size: 16px;
}
@media only screen and (min-width: 1500px) {
  /* line 56, ../sass/screen.scss */
  header .wpc-menu li a {
    font-weight: 700;
    opacity: 1 !important;
  }
}
@media only screen and (min-width: 1500px) {
  /* line 66, ../sass/screen.scss */
  header .wpc-menu > li > a {
    color: #FFFFFF;
  }
}

/* line 74, ../sass/screen.scss */
.header-normal .site-header.fixed-on {
  background-color: rgba(0, 0, 0, 0.9);
}

/* line 80, ../sass/screen.scss */
.footer-social a i {
  background-color: #323232;
  color: #FFDB1A;
  height: 25px;
  line-height: 25px;
  width: 25px;
}
/* line 87, ../sass/screen.scss */
.footer-social a i:before {
  color: #FFDB1A;
  font-size: 13px;
}

/* line 95, ../sass/screen.scss */
header .header-right-wrap .extract-element .header-social i, .footer-social a i {
  border: none;
  transition: background-color 0.1s;
}
/* line 99, ../sass/screen.scss */
header .header-right-wrap .extract-element .header-social i:before, .footer-social a i:before {
  transition: color 0.1s;
}
/* line 104, ../sass/screen.scss */
header .header-right-wrap .extract-element .header-social i:hover.fa-facebook, .footer-social a i:hover.fa-facebook {
  background-color: #3b5998;
}
/* line 108, ../sass/screen.scss */
header .header-right-wrap .extract-element .header-social i:hover.fa-instagram, .footer-social a i:hover.fa-instagram {
  background-color: #517fa4;
}
/* line 112, ../sass/screen.scss */
header .header-right-wrap .extract-element .header-social i:hover.fa-twitter, .footer-social a i:hover.fa-twitter {
  background-color: #00aced;
}
/* line 116, ../sass/screen.scss */
header .header-right-wrap .extract-element .header-social i:hover.fa-google-plus, .footer-social a i:hover.fa-google-plus {
  background-color: #dd4b39;
}
/* line 120, ../sass/screen.scss */
header .header-right-wrap .extract-element .header-social i:hover.fa-youtube, .footer-social a i:hover.fa-youtube {
  background-color: #bb0000;
}
/* line 124, ../sass/screen.scss */
header .header-right-wrap .extract-element .header-social i:hover.fa-rss, .footer-social a i:hover.fa-rss {
  background-color: #007bb6;
}

/* line 132, ../sass/screen.scss */
.page-title-wrap h1 {
  color: #2B6CA4;
}

/* line 140, ../sass/screen.scss */
.page-children-wrapper .grid-wrapper .grid-item h3.grid-title {
  font-weight: 700;
}
/* line 143, ../sass/screen.scss */
.page-children-wrapper .grid-wrapper .grid-item h3.grid-title a:hover {
  color: #2B6CA4;
}
/* line 148, ../sass/screen.scss */
.page-children-wrapper .grid-wrapper .grid-item a.grid-more {
  color: #2B6CA4;
}
/* line 153, ../sass/screen.scss */
.page-children-wrapper .grid-wrapper .grid-item .grid-thumbnail a {
  display: block;
  position: relative;
}
/* line 165, ../sass/screen.scss */
.page-children-wrapper:not(.guides-tips-grid) .grid-wrapper .grid-item .grid-thumbnail:before {
  background-color: #FFDB1A;
  border-radius: 40px;
  content: '';
  display: block;
  height: 40px;
  left: 20px;
  position: absolute;
  top: 20px;
  transition: background-color 0.1s, height 0.1s, top 0.1s, width 0.1s;
  width: 40px;
}
/* line 178, ../sass/screen.scss */
.page-children-wrapper:not(.guides-tips-grid) .grid-wrapper .grid-item .grid-thumbnail[title="Blocked Baths"]:before {
  background-image: url("../../img/service-blockedbath.svg");
}
/* line 182, ../sass/screen.scss */
.page-children-wrapper:not(.guides-tips-grid) .grid-wrapper .grid-item .grid-thumbnail[title="Blocked Drains (Internal & External)"]:before {
  background-image: url("../../img/service-blockeddrains.svg");
}
/* line 186, ../sass/screen.scss */
.page-children-wrapper:not(.guides-tips-grid) .grid-wrapper .grid-item .grid-thumbnail[title="Blocked Showers"]:before {
  background-image: url("../../img/service-blockedshowers.svg");
}
/* line 190, ../sass/screen.scss */
.page-children-wrapper:not(.guides-tips-grid) .grid-wrapper .grid-item .grid-thumbnail[title="Blocked Sinks"]:before {
  background-image: url("../../img/service-blockedsinks.svg");
}
/* line 194, ../sass/screen.scss */
.page-children-wrapper:not(.guides-tips-grid) .grid-wrapper .grid-item .grid-thumbnail[title="Blocked Toilets"]:before {
  background-image: url("../../img/service-blockedtoilets.svg");
}
/* line 198, ../sass/screen.scss */
.page-children-wrapper:not(.guides-tips-grid) .grid-wrapper .grid-item .grid-thumbnail[title="Free CCTV Drain Survey"]:before {
  background-image: url("../../img/service-cctvdrains.svg");
}
/* line 202, ../sass/screen.scss */
.page-children-wrapper:not(.guides-tips-grid) .grid-wrapper .grid-item .grid-thumbnail[title="Drain Cleaning (Internal & External)"]:before {
  background-image: url("../../img/service-draincleaning.svg");
}
/* line 206, ../sass/screen.scss */
.page-children-wrapper:not(.guides-tips-grid) .grid-wrapper .grid-item .grid-thumbnail[title="Drain Jetting"]:before {
  background-image: url("../../img/service-drainjetting.svg");
}
/* line 210, ../sass/screen.scss */
.page-children-wrapper:not(.guides-tips-grid) .grid-wrapper .grid-item .grid-thumbnail[title="Drain Repair & Relining"]:before {
  background-image: url("../../img/service-drainrepair.svg");
}
/* line 214, ../sass/screen.scss */
.page-children-wrapper:not(.guides-tips-grid) .grid-wrapper .grid-item .grid-thumbnail[title="Drain Testing"]:before {
  background-image: url("../../img/service-draintesting.svg");
}
/* line 218, ../sass/screen.scss */
.page-children-wrapper:not(.guides-tips-grid) .grid-wrapper .grid-item .grid-thumbnail[title="Blocked/Broken Saniflo Toilet"]:before {
  background-image: url("../../img/service-saniflo.svg");
}

/* line 228, ../sass/screen.scss */
.breadcrumbs span {
  margin-right: 10px;
}
@media only screen and (min-width: 640px) {
  /* line 228, ../sass/screen.scss */
  .breadcrumbs span {
    margin-right: 15px;
  }
}
/* line 237, ../sass/screen.scss */
.breadcrumbs span a:before {
  display: none;
}
/* line 241, ../sass/screen.scss */
.breadcrumbs span a:after {
  border: 0 !important;
  color: #2B6CA4;
  content: "\f054";
  font-family: FontAwesome;
  font-weight: 200;
  left: auto !important;
  opacity: 0.5;
  position: relative;
  right: auto !important;
  top: 1px !important;
}

/* line 257, ../sass/screen.scss */
.dp-header-img, .dp-imgtxtbtn {
  background-position: center top;
  background-size: cover;
  height: 390px;
  position: relative;
}
/* line 263, ../sass/screen.scss */
.dp-header-img:before, .dp-imgtxtbtn:before {
  background-color: rgba(0, 0, 0, 0.65);
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
@media only screen and (min-width: 640px) {
  /* line 257, ../sass/screen.scss */
  .dp-header-img, .dp-imgtxtbtn {
    height: 370px;
  }
}
@media only screen and (min-width: 870px) {
  /* line 257, ../sass/screen.scss */
  .dp-header-img, .dp-imgtxtbtn {
    height: 500px;
    height: 75vh;
  }
}
@media only screen and (min-width: 1500px) {
  /* line 257, ../sass/screen.scss */
  .dp-header-img, .dp-imgtxtbtn {
    background-attachment: fixed;
  }
}
/* line 290, ../sass/screen.scss */
.dp-header-img .container, .dp-imgtxtbtn .container {
  box-sizing: border-box;
  height: 100%;
  padding-top: 65px;
}
@media only screen and (min-width: 870px) {
  /* line 290, ../sass/screen.scss */
  .dp-header-img .container, .dp-imgtxtbtn .container {
    padding-top: 40px;
  }
}
/* line 300, ../sass/screen.scss */
.dp-header-img .txtholder, .dp-imgtxtbtn .txtholder {
  position: relative;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media only screen and (min-width: 640px) {
  /* line 300, ../sass/screen.scss */
  .dp-header-img .txtholder, .dp-imgtxtbtn .txtholder {
    text-align: left;
  }
}
/* line 311, ../sass/screen.scss */
.dp-header-img .txtholder h1, .dp-imgtxtbtn .txtholder h1 {
  color: #FFFFFF;
  font-weight: 700;
  text-transform: uppercase;
}
/* line 316, ../sass/screen.scss */
.dp-header-img .txtholder h1 b, .dp-imgtxtbtn .txtholder h1 b {
  color: #FFDB1A;
  display: block;
  text-align: center;
}
@media only screen and (min-width: 640px) {
  /* line 316, ../sass/screen.scss */
  .dp-header-img .txtholder h1 b, .dp-imgtxtbtn .txtholder h1 b {
    display: inline;
  }
}
/* line 327, ../sass/screen.scss */
.dp-header-img .txtholder p, .dp-imgtxtbtn .txtholder p {
  color: #FFFFFF;
  display: none;
}
@media only screen and (min-width: 640px) {
  /* line 327, ../sass/screen.scss */
  .dp-header-img .txtholder p, .dp-imgtxtbtn .txtholder p {
    display: inline;
  }
}
/* line 336, ../sass/screen.scss */
.dp-header-img .txtholder .dp-header-buttons, .dp-imgtxtbtn .txtholder .dp-header-buttons {
  padding-top: 35px;
}
/* line 339, ../sass/screen.scss */
.dp-header-img .txtholder .dp-header-buttons .button, .dp-imgtxtbtn .txtholder .dp-header-buttons .button {
  display: block;
  margin-bottom: 10px;
}
@media only screen and (min-width: 640px) {
  /* line 339, ../sass/screen.scss */
  .dp-header-img .txtholder .dp-header-buttons .button, .dp-imgtxtbtn .txtholder .dp-header-buttons .button {
    display: inline-block;
    margin-bottom: 0;
  }
  /* line 347, ../sass/screen.scss */
  .dp-header-img .txtholder .dp-header-buttons .button:first-child, .dp-imgtxtbtn .txtholder .dp-header-buttons .button:first-child {
    margin-right: 15px;
  }
}
/* line 357, ../sass/screen.scss */
.dp-header-img.location-header .txtholder h1, .dp-imgtxtbtn.location-header .txtholder h1 {
  color: #FFDB1A;
  font-weight: 400;
}
/* line 361, ../sass/screen.scss */
.dp-header-img.location-header .txtholder h1 strong, .dp-imgtxtbtn.location-header .txtholder h1 strong {
  font-weight: 800;
}

@media only screen and (max-width: 1100px) {
  /* line 369, ../sass/screen.scss */
  .header-widget.header-widget-mobile {
    top: 97px !important;
  }
}

@media only screen and (max-width: 1100px) {
  /* line 375, ../sass/screen.scss */
  .wpc-menu.wpc-menu-mobile {
    top: 147px !important;
  }
}

/* line 381, ../sass/screen.scss */
#nav-toggle {
  color: #FFFFFF !important;
}

@media only screen and (min-width: 870px) {
  /* line 385, ../sass/screen.scss */
  .dp-imgtxtbtn {
    height: 500px;
  }
}
/* line 391, ../sass/screen.scss */
.dp-imgtxtbtn + .wpb_column {
  display: none;
}
/* line 395, ../sass/screen.scss */
.dp-imgtxtbtn .container {
  padding-top: 0;
}
/* line 399, ../sass/screen.scss */
.dp-imgtxtbtn h4 {
  color: #FFFFFF;
  font-size: 12px;
  text-transform: uppercase;
}
/* line 405, ../sass/screen.scss */
.dp-imgtxtbtn h2 {
  color: #FFDB1A;
  font-size: 28px;
  font-weight: 700;
}
@media only screen and (min-width: 870px) {
  /* line 405, ../sass/screen.scss */
  .dp-imgtxtbtn h2 {
    font-size: 34px;
  }
}

/* line 417, ../sass/screen.scss */
.dp-our-services .custom-heading {
  text-align: center;
}
@media only screen and (min-width: 870px) {
  /* line 417, ../sass/screen.scss */
  .dp-our-services .custom-heading {
    text-align: left;
  }
}
/* line 425, ../sass/screen.scss */
.dp-our-services .custom-heading span {
  margin: 0 auto;
}
@incldue respond-to($smalldesktop) {
  /* line 425, ../sass/screen.scss */
  .dp-our-services .custom-heading span {
    margin: 0;
  }
}
/* line 434, ../sass/screen.scss */
.dp-our-services ul {
  list-style: none;
  margin: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}
/* line 443, ../sass/screen.scss */
.dp-our-services ul li {
  float: left;
  width: 50%;
}
/* line 447, ../sass/screen.scss */
.dp-our-services ul li:nth-child(even) {
  float: right;
}
@media only screen and (min-width: 870px) {
  /* line 443, ../sass/screen.scss */
  .dp-our-services ul li {
    box-sizing: border-box;
    margin-right: 40px;
    padding-bottom: 30px;
    width: calc(25% - 30px);
  }
  /* line 457, ../sass/screen.scss */
  .dp-our-services ul li:nth-child(even) {
    float: left;
  }
  /* line 461, ../sass/screen.scss */
  .dp-our-services ul li:nth-child(4n) {
    float: right;
    margin-right: 0;
  }
}
/* line 468, ../sass/screen.scss */
.dp-our-services ul li .icon-block {
  background-color: #FFDB1A;
  border-radius: 80px;
  content: '';
  display: block;
  height: 80px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 0;
  transition: background-color 0.1s, height 0.1s, top 0.1s, width 0.1s;
  width: 80px;
}
@media only screen and (min-width: 870px) {
  /* line 468, ../sass/screen.scss */
  .dp-our-services ul li .icon-block {
    height: 100px;
    width: 100px;
  }
}
/* line 488, ../sass/screen.scss */
.dp-our-services ul li.blockedbaths .icon-block {
  background-image: url("../../img/service-blockedbath.svg");
}
/* line 492, ../sass/screen.scss */
.dp-our-services ul li.blockeddrains .icon-block {
  background-image: url("../../img/service-blockeddrains.svg");
}
/* line 496, ../sass/screen.scss */
.dp-our-services ul li.blockedshowers .icon-block {
  background-image: url("../../img/service-blockedshowers.svg");
}
/* line 500, ../sass/screen.scss */
.dp-our-services ul li.blockedsinks .icon-block {
  background-image: url("../../img/service-blockedsinks.svg");
}
/* line 504, ../sass/screen.scss */
.dp-our-services ul li.blockedtoilets .icon-block {
  background-image: url("../../img/service-blockedtoilets.svg");
}
/* line 508, ../sass/screen.scss */
.dp-our-services ul li.freecctvdrainsurvey .icon-block {
  background-image: url("../../img/service-cctvdrains.svg");
}
/* line 512, ../sass/screen.scss */
.dp-our-services ul li.contact .icon-block {
  background-color: #2B6CA4;
  background-image: url("../../img/service-contact.svg");
}
/* line 517, ../sass/screen.scss */
.dp-our-services ul li.draincleaning .icon-block {
  background-image: url("../../img/service-draincleaning.svg");
}
/* line 521, ../sass/screen.scss */
.dp-our-services ul li.drainjetting .icon-block {
  background-image: url("../../img/service-drainjetting.svg");
}
/* line 525, ../sass/screen.scss */
.dp-our-services ul li.drainrepairrelining .icon-block {
  background-image: url("../../img/service-drainrepair.svg");
}
/* line 529, ../sass/screen.scss */
.dp-our-services ul li.draintesting .icon-block {
  background-image: url("../../img/service-draintesting.svg");
}
/* line 533, ../sass/screen.scss */
.dp-our-services ul li.blockedbrokensaniflotoilet .icon-block {
  background-image: url("../../img/service-saniflo.svg");
}
/* line 537, ../sass/screen.scss */
.dp-our-services ul li p {
  font-size: 16px;
}
/* line 540, ../sass/screen.scss */
.dp-our-services ul li p span {
  display: none;
  font-size: 14px;
}
@media only screen and (min-width: 640px) {
  /* line 540, ../sass/screen.scss */
  .dp-our-services ul li p span {
    display: block;
    padding-top: 5px;
  }
}
/* line 551, ../sass/screen.scss */
.dp-our-services ul li a {
  color: #323232;
  display: block;
  padding-top: 100px;
  position: relative;
  text-align: center;
}
@media only screen and (min-width: 870px) {
  /* line 551, ../sass/screen.scss */
  .dp-our-services ul li a {
    padding-top: 120px;
  }
}
/* line 564, ../sass/screen.scss */
.dp-our-services ul li:hover a {
  text-decoration: none;
}
/* line 568, ../sass/screen.scss */
.dp-our-services ul li:hover .icon-block {
  background-color: #e6c200;
  height: 90px;
  width: 90px;
  top: -5px;
}
@media only screen and (min-width: 870px) {
  /* line 568, ../sass/screen.scss */
  .dp-our-services ul li:hover .icon-block {
    height: 110px;
    width: 110px;
  }
}
/* line 580, ../sass/screen.scss */
.dp-our-services ul li:hover.contact .icon-block {
  background-color: #20517c;
}
/* line 584, ../sass/screen.scss */
.dp-our-services ul li:hover strong {
  text-decoration: underline;
}

/* line 592, ../sass/screen.scss */
.dp-cta {
  background-color: #FFDB1A;
  padding: 20px 0;
  text-align: center;
}
/* line 52, ../sass/_config.scss */
.dp-cta:after {
  clear: both;
  content: '';
  display: table;
}
/* line 599, ../sass/screen.scss */
.dp-cta + .wpb_column {
  display: none;
}
/* line 603, ../sass/screen.scss */
.dp-cta h2 {
  font-weight: 700;
}
@media only screen and (min-width: 870px) {
  /* line 603, ../sass/screen.scss */
  .dp-cta h2 {
    float: left;
    line-height: 40px;
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 870px) {
  /* line 613, ../sass/screen.scss */
  .dp-cta .button {
    float: right;
  }
}

/* line 621, ../sass/screen.scss */
.custom-service + article .entry-content .dp-cta h2, .custom-service + article .entry-content .dp-cta .button {
  float: none !important;
}
/* line 625, ../sass/screen.scss */
.custom-service + article .entry-content .dp-cta .button {
  margin-top: 20px;
}

/* line 630, ../sass/screen.scss */
.custom-service {
  margin-bottom: 20px;
}

/* line 634, ../sass/screen.scss */
.services-header {
  background-position: center !important;
  max-height: 560px;
  padding: 120px 0 40px !important;
  position: relative;
}
/* line 640, ../sass/screen.scss */
.services-header:before {
  background-color: rgba(0, 0, 0, 0.65);
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
@media only screen and (min-width: 870px) {
  /* line 634, ../sass/screen.scss */
  .services-header {
    padding: 300px 0 60px !important;
  }
}
/* line 656, ../sass/screen.scss */
.services-header:before {
  background-color: rgba(0, 0, 0, 0.3);
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
/* line 668, ../sass/screen.scss */
.services-header .iconblock {
  background-color: #FFDB1A;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40px;
  border-radius: 50px;
  display: block;
  height: 50px;
  margin-bottom: 20px;
  width: 50px;
}
@media only screen and (min-width: 870px) {
  /* line 668, ../sass/screen.scss */
  .services-header .iconblock {
    background-size: 90px;
    border-radius: 100px;
    height: 100px;
    margin-bottom: 30px;
    width: 100px;
  }
}
/* line 688, ../sass/screen.scss */
.services-header .iconblock.blockedbaths {
  background-image: url("../../img/service-blockedbath.svg");
}
/* line 692, ../sass/screen.scss */
.services-header .iconblock.blockeddrainsinternalexternal {
  background-image: url("../../img/service-blockeddrains.svg");
}
/* line 696, ../sass/screen.scss */
.services-header .iconblock.blockedshowers {
  background-image: url("../../img/service-blockedshowers.svg");
}
/* line 700, ../sass/screen.scss */
.services-header .iconblock.blockedsinks {
  background-image: url("../../img/service-blockedsinks.svg");
}
/* line 704, ../sass/screen.scss */
.services-header .iconblock.blockedtoilets {
  background-image: url("../../img/service-blockedtoilets.svg");
}
/* line 708, ../sass/screen.scss */
.services-header .iconblock.freecctvdrainsurvey {
  background-image: url("../../img/service-cctvdrains.svg");
}
/* line 712, ../sass/screen.scss */
.services-header .iconblock.draincleaninginternalexternal {
  background-image: url("../../img/service-draincleaning.svg");
}
/* line 716, ../sass/screen.scss */
.services-header .iconblock.drainjetting {
  background-image: url("../../img/service-drainjetting.svg");
}
/* line 720, ../sass/screen.scss */
.services-header .iconblock.drainrepairrelining {
  background-image: url("../../img/service-drainrepair.svg");
}
/* line 724, ../sass/screen.scss */
.services-header .iconblock.draintesting {
  background-image: url("../../img/service-draintesting.svg");
}
/* line 728, ../sass/screen.scss */
.services-header .iconblock.blockedbrokensaniflotoilet {
  background-image: url("../../img/service-saniflo.svg");
}
/* line 733, ../sass/screen.scss */
.services-header h1, .services-header span {
  color: #FFFFFF !important;
  text-shadow: none !important;
}
/* line 738, ../sass/screen.scss */
.services-header h1 {
  padding-bottom: 15px;
}

/* line 744, ../sass/screen.scss */
.dp-locations .locations-top {
  padding: 40px 0;
  text-align: center;
}
@media only screen and (min-width: 870px) {
  /* line 744, ../sass/screen.scss */
  .dp-locations .locations-top {
    padding: 60px 0;
  }
}
/* line 753, ../sass/screen.scss */
.dp-locations .locations-top .heading-line {
  margin: 0 auto;
}
/* line 757, ../sass/screen.scss */
.dp-locations .locations-top .location-intro {
  font-size: 17px;
}
/* line 760, ../sass/screen.scss */
.dp-locations .locations-top .location-intro p {
  color: #000000;
}
/* line 767, ../sass/screen.scss */
.dp-locations .locations-grid .location-item {
  background-color: #f8f9f9;
  margin-bottom: 20px;
  padding: 10px;
}
@media only screen and (min-width: 640px) {
  /* line 767, ../sass/screen.scss */
  .dp-locations .locations-grid .location-item {
    float: left;
    margin-right: 20px;
    width: calc(50% - 10px);
  }
  /* line 777, ../sass/screen.scss */
  .dp-locations .locations-grid .location-item:nth-child(2n) {
    margin-right: 0;
  }
}
@media only screen and (min-width: 870px) {
  /* line 767, ../sass/screen.scss */
  .dp-locations .locations-grid .location-item {
    width: calc(25% - 15px);
  }
  /* line 786, ../sass/screen.scss */
  .dp-locations .locations-grid .location-item:nth-child(2n) {
    margin-right: 20px;
  }
  /* line 790, ../sass/screen.scss */
  .dp-locations .locations-grid .location-item:nth-child(4n) {
    margin-right: 0px;
  }
}
/* line 796, ../sass/screen.scss */
.dp-locations .locations-grid .location-item h4 {
  color: #000000;
  font-size: 16px;
}
/* line 801, ../sass/screen.scss */
.dp-locations .locations-grid .location-item p, .dp-locations .locations-grid .location-item a {
  color: #777777;
  font-size: 13px;
}
/* line 806, ../sass/screen.scss */
.dp-locations .locations-grid .location-item .phone, .dp-locations .locations-grid .location-item .detail {
  color: #2B6CA4;
  font-weight: 700;
}
/* line 811, ../sass/screen.scss */
.dp-locations .locations-grid .location-item .detail {
  text-transform: uppercase;
}

/* line 819, ../sass/screen.scss */
.sidebar h4 {
  font-weight: 700;
}
/* line 824, ../sass/screen.scss */
.sidebar .services-sidebar ul.service-list {
  padding-bottom: 40px;
}
/* line 827, ../sass/screen.scss */
.sidebar .services-sidebar ul.service-list li {
  font-size: 13px;
  height: 40px;
  line-height: 40px;
  margin: 0;
  padding-left: 40px;
  position: relative;
}
/* line 835, ../sass/screen.scss */
.sidebar .services-sidebar ul.service-list li:before {
  background-color: #FFDB1A;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 23px;
  border-radius: 25px;
  content: '';
  display: block;
  height: 25px;
  position: absolute;
  left: 0;
  width: 25px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 851, ../sass/screen.scss */
.sidebar .services-sidebar ul.service-list li a {
  color: #777777;
}
/* line 855, ../sass/screen.scss */
.sidebar .services-sidebar ul.service-list li.cur {
  border-bottom: 1px solid #e9e9e9;
  border-top: 1px solid #e9e9e9;
  font-weight: 600;
}
/* line 860, ../sass/screen.scss */
.sidebar .services-sidebar ul.service-list li.cur a {
  color: #2B6CA4;
}
/* line 865, ../sass/screen.scss */
.sidebar .services-sidebar ul.service-list li.all:before {
  background-color: transparent;
  background-image: url("../../img/service-allservices.svg");
}
/* line 870, ../sass/screen.scss */
.sidebar .services-sidebar ul.service-list li.blockedbaths:before {
  background-image: url("../../img/service-blockedbath.svg");
}
/* line 874, ../sass/screen.scss */
.sidebar .services-sidebar ul.service-list li.blockeddrainsinternalexternal:before {
  background-image: url("../../img/service-blockeddrains.svg");
}
/* line 878, ../sass/screen.scss */
.sidebar .services-sidebar ul.service-list li.blockedshowers:before {
  background-image: url("../../img/service-blockedshowers.svg");
}
/* line 882, ../sass/screen.scss */
.sidebar .services-sidebar ul.service-list li.blockedsinks:before {
  background-image: url("../../img/service-blockedsinks.svg");
}
/* line 886, ../sass/screen.scss */
.sidebar .services-sidebar ul.service-list li.blockedtoilets:before {
  background-image: url("../../img/service-blockedtoilets.svg");
}
/* line 890, ../sass/screen.scss */
.sidebar .services-sidebar ul.service-list li.freecctvdrainsurvey:before {
  background-image: url("../../img/service-cctvdrains.svg");
}
/* line 894, ../sass/screen.scss */
.sidebar .services-sidebar ul.service-list li.draincleaninginternalexternal:before {
  background-image: url("../../img/service-draincleaning.svg");
}
/* line 898, ../sass/screen.scss */
.sidebar .services-sidebar ul.service-list li.drainjetting:before {
  background-image: url("../../img/service-drainjetting.svg");
}
/* line 902, ../sass/screen.scss */
.sidebar .services-sidebar ul.service-list li.drainrepairrelining:before {
  background-image: url("../../img/service-drainrepair.svg");
}
/* line 906, ../sass/screen.scss */
.sidebar .services-sidebar ul.service-list li.draintesting:before {
  background-image: url("../../img/service-draintesting.svg");
}
/* line 910, ../sass/screen.scss */
.sidebar .services-sidebar ul.service-list li.blockedbrokensaniflotoilet:before {
  background-image: url("../../img/service-saniflo.svg");
}
/* line 917, ../sass/screen.scss */
.sidebar .services-sidebar .contact-info-box p, .sidebar .services-sidebar .contact-info-box a {
  color: #777777;
}
/* line 921, ../sass/screen.scss */
.sidebar .services-sidebar .contact-info-box .phone {
  color: #2B6CA4;
  font-weight: 700;
}

/* line 929, ../sass/screen.scss */
.dp-reviews {
  background-color: #f8f9f9;
  padding: 30px 0;
}
/* line 933, ../sass/screen.scss */
.dp-reviews a {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 240px;
  box-sizing: border-box;
  display: block;
  float: left;
  height: 180px;
  width: 100%;
}
/* line 943, ../sass/screen.scss */
.dp-reviews a.google {
  background-image: url("../../img/ratings-google.svg");
}
/* line 947, ../sass/screen.scss */
.dp-reviews a.trustpilot {
  background-image: url("../../img/ratings-trustpilot.svg");
}
/* line 951, ../sass/screen.scss */
.dp-reviews a.yell {
  background-image: url("../../img/ratings-yell.svg");
}
@media only screen and (min-width: 870px) {
  /* line 933, ../sass/screen.scss */
  .dp-reviews a {
    border-right: 1px solid #e9e9e9;
    height: 220px;
    width: calc(100% / 3);
  }
  /* line 960, ../sass/screen.scss */
  .dp-reviews a:last-child {
    border-right: 0;
  }
}

/* line 967, ../sass/screen.scss */
.dp-location-map {
  background-color: #2B6CA4;
  height: 300px;
}
@media only screen and (min-width: 640px) {
  /* line 967, ../sass/screen.scss */
  .dp-location-map {
    height: 400px;
  }
}
@media only screen and (min-width: 870px) {
  /* line 967, ../sass/screen.scss */
  .dp-location-map {
    height: 600px;
  }
}

@media only screen and (min-width: 870px) {
  /* line 981, ../sass/screen.scss */
  .dp-our-clients {
    padding-top: 30px;
  }
}
/* line 988, ../sass/screen.scss */
.dp-our-clients .client-list a {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  box-sizing: border-box;
  display: block;
  float: left;
  height: 50px;
  width: 25%;
}
@media only screen and (min-width: 640px) {
  /* line 988, ../sass/screen.scss */
  .dp-our-clients .client-list a {
    border: 1px solid #e9e9e9;
    height: 90px;
  }
}
@media only screen and (min-width: 870px) {
  /* line 988, ../sass/screen.scss */
  .dp-our-clients .client-list a {
    height: 110px;
    width: calc(100% / 7);
  }
}

/* line 1015, ../sass/screen.scss */
.recent-news-wrapper .grid-item h4.grid-title a {
  color: #FFFFFF;
}
/* line 1020, ../sass/screen.scss */
.recent-news-wrapper .grid-item p {
  color: #e9e9e9;
}

/* line 1026, ../sass/screen.scss */
.page-children-wrapper {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0px 30px;
  position: relative;
}
@media only screen and (min-width: 870px) {
  /* line 1026, ../sass/screen.scss */
  .page-children-wrapper {
    padding: 0 50px;
  }
}

/* line 1037, ../sass/screen.scss */
.content-area-full#primary {
  padding-bottom: 0;
}

/* line 1041, ../sass/screen.scss */
footer.site-footer {
  background: url("../../img/footer-bg.jpg") center no-repeat;
  background-size: cover;
  position: relative;
  z-index: 55555;
}
@media only screen and (min-width: 1500px) {
  /* line 1041, ../sass/screen.scss */
  footer.site-footer {
    background-attachment: fixed;
  }
}
/* line 1052, ../sass/screen.scss */
footer.site-footer:before {
  background-color: rgba(0, 0, 0, 0.9);
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}
/* line 1064, ../sass/screen.scss */
footer.site-footer .footer-form {
  padding-top: 40px;
}
@media only screen and (min-width: 870px) {
  /* line 1067, ../sass/screen.scss */
  footer.site-footer .footer-form .dp-col-4 {
    height: 310px;
  }
}
/* line 1073, ../sass/screen.scss */
footer.site-footer .footer-form .logo {
  background: url("../../img/desktop-logo.svg") left center no-repeat;
  background-size: contain;
  display: block;
  height: 60px;
  margin: 0 auto;
  position: relative;
  width: 260px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media only screen and (min-width: 870px) {
  /* line 1073, ../sass/screen.scss */
  footer.site-footer .footer-form .logo {
    margin: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}
/* line 1091, ../sass/screen.scss */
footer.site-footer .footer-form h2 {
  color: #FFFFFF;
}
/* line 1097, ../sass/screen.scss */
footer.site-footer .link-list a:before {
  color: #FFDB1A;
  content: "\f0da";
  font-family: FontAwesome;
  padding-right: 5px;
}
/* line 1105, ../sass/screen.scss */
footer.site-footer .contact-info-box {
  padding-bottom: 20px;
}
/* line 1110, ../sass/screen.scss */
footer.site-footer .accreditations a {
  display: block;
  float: left;
  width: calc(50% - 5px);
}
/* line 1115, ../sass/screen.scss */
footer.site-footer .accreditations a:last-child {
  float: right;
}

/* line 52, ../sass/_config.scss */
form.contact-form:after {
  clear: both;
  content: '';
  display: table;
}
@media only screen and (min-width: 870px) {
  /* line 1125, ../sass/screen.scss */
  form.contact-form .form-left {
    float: left;
    width: calc(50% - 15px);
  }
}
@media only screen and (min-width: 870px) {
  /* line 1132, ../sass/screen.scss */
  form.contact-form .form-right {
    float: right;
    width: calc(50% - 15px);
  }
}
/* line 1139, ../sass/screen.scss */
form.contact-form input, form.contact-form textarea {
  margin-bottom: 15px;
  width: 100%;
}
/* line 1144, ../sass/screen.scss */
form.contact-form textarea {
  height: 103px;
}
/* line 1148, ../sass/screen.scss */
form.contact-form button {
  float: right;
}

@media only screen and (min-width: 640px) {
  /* line 1154, ../sass/screen.scss */
  .testimonial_carousel_wrapper .testimonial.testimonial-item {
    margin-right: 20px;
  }
}
/* line 1160, ../sass/screen.scss */
.testimonial_carousel_wrapper .testimonial.testimonial-item .testimonial-header {
  margin-top: -15px;
  padding-left: 10px;
}
/* line 1165, ../sass/screen.scss */
.testimonial_carousel_wrapper .testimonial.testimonial-item .testimonial-logo-face {
  background-color: #FFFFFF;
  border: 1px solid #e9e9e9;
  border-radius: 70px;
  display: inline-block;
  float: left;
  padding: 5px 8px;
}
/* line 52, ../sass/_config.scss */
.testimonial_carousel_wrapper .testimonial.testimonial-item .testimonial-logo-face:after {
  clear: both;
  content: '';
  display: table;
}
/* line 1175, ../sass/screen.scss */
.testimonial_carousel_wrapper .testimonial.testimonial-item .testimonial-logo-face .testimonial-logo {
  float: left;
  position: relative;
}
/* line 1179, ../sass/screen.scss */
.testimonial_carousel_wrapper .testimonial.testimonial-item .testimonial-logo-face .testimonial-logo img {
  max-height: 50px;
}
/* line 1184, ../sass/screen.scss */
.testimonial_carousel_wrapper .testimonial.testimonial-item .testimonial-logo-face .testimonial-avatar {
  margin-top: 0;
  margin-right: 0;
}
/* line 1188, ../sass/screen.scss */
.testimonial_carousel_wrapper .testimonial.testimonial-item .testimonial-logo-face .testimonial-avatar img {
  width: 50px;
}
/* line 1194, ../sass/screen.scss */
.testimonial_carousel_wrapper .testimonial.testimonial-item .testimonial-name {
  float: left;
  font-weight: 700;
  line-height: 60px;
  margin: 5px 0 0 10px;
}

/* line 1204, ../sass/screen.scss */
.location-page .dp-location-map {
  background-color: #2B6CA4;
  height: 220px;
}
@media only screen and (min-width: 640px) {
  /* line 1204, ../sass/screen.scss */
  .location-page .dp-location-map {
    height: 300px;
  }
}
@media only screen and (min-width: 870px) {
  /* line 1204, ../sass/screen.scss */
  .location-page .dp-location-map {
    height: 460px;
  }
}
/* line 1218, ../sass/screen.scss */
.location-page .sidebar, .location-page .content-area {
  border-left: 0 !important;
  border-right: 0 !important;
}

/* line 1224, ../sass/screen.scss */
.commercial-cta {
  background: url("../../img/commercial.jpg") center top no-repeat;
  background-size: cover;
  padding: 40px 0;
  position: relative;
  text-align: center;
}
/* line 1231, ../sass/screen.scss */
.commercial-cta:before {
  background-color: rgba(43, 108, 164, 0.85);
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}
@media only screen and (min-width: 1500px) {
  /* line 1224, ../sass/screen.scss */
  .commercial-cta {
    background-attachment: fixed;
    padding: 80px 0;
  }
}
/* line 1249, ../sass/screen.scss */
.commercial-cta .text {
  margin: 0 auto;
  max-width: 600px;
}
/* line 1253, ../sass/screen.scss */
.commercial-cta .text p {
  color: #FFFFFF;
}
/* line 1257, ../sass/screen.scss */
.commercial-cta .text .button {
  color: #2B6CA4;
  margin-top: 20px;
}

/* line 1264, ../sass/screen.scss */
.instagram-section {
  background-color: #000000;
  padding: 30px 0;
}
/* line 1269, ../sass/screen.scss */
.instagram-section .custom-heading h2 {
  color: #FFFFFF;
}
/* line 1272, ../sass/screen.scss */
.instagram-section .custom-heading h2 i {
  margin-right: 3px;
}
/* line 1277, ../sass/screen.scss */
.instagram-section .custom-heading .heading-line {
  background-color: #323232;
}
/* line 1282, ../sass/screen.scss */
.instagram-section .instagram-grid {
  clear: both;
}
/* line 1285, ../sass/screen.scss */
.instagram-section .instagram-grid .instagram-box {
  margin-bottom: 20px;
  position: relative;
  transition: opacity 0.2s;
}
/* line 1290, ../sass/screen.scss */
.instagram-section .instagram-grid .instagram-box.hidden {
  height: 0;
  opacity: 0;
}
@media only screen and (min-width: 640px) {
  /* line 1285, ../sass/screen.scss */
  .instagram-section .instagram-grid .instagram-box {
    float: left;
    margin-right: 20px;
    width: calc(50% - 10px);
  }
  /* line 1300, ../sass/screen.scss */
  .instagram-section .instagram-grid .instagram-box:nth-child(2n) {
    margin-right: 0;
  }
}
@media only screen and (min-width: 870px) {
  /* line 1285, ../sass/screen.scss */
  .instagram-section .instagram-grid .instagram-box {
    width: calc(25% - 15px);
  }
  /* line 1309, ../sass/screen.scss */
  .instagram-section .instagram-grid .instagram-box:nth-child(2n) {
    margin-right: 20px;
  }
  /* line 1313, ../sass/screen.scss */
  .instagram-section .instagram-grid .instagram-box:nth-child(4n) {
    margin-right: 0px;
  }
}
/* line 1319, ../sass/screen.scss */
.instagram-section .instagram-grid .instagram-box img {
  width: 100%;
}
/* line 1323, ../sass/screen.scss */
.instagram-section .instagram-grid .instagram-box .in-content {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  text-align: center;
  top: 0;
  transition: opacity 0.1s;
}
/* line 1333, ../sass/screen.scss */
.instagram-section .instagram-grid .instagram-box .in-content .holder {
  color: #FFFFFF;
  margin: 0 auto;
  position: relative;
  width: 80%;
  width: calc(100% - 40px);
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 1342, ../sass/screen.scss */
.instagram-section .instagram-grid .instagram-box .in-content .holder .buttons {
  margin: 10px auto 0;
  width: 90px;
}
/* line 1346, ../sass/screen.scss */
.instagram-section .instagram-grid .instagram-box .in-content .holder .buttons a {
  display: block;
  float: left;
  height: 40px;
  width: 40px;
}
/* line 1352, ../sass/screen.scss */
.instagram-section .instagram-grid .instagram-box .in-content .holder .buttons a.like {
  background: url("../../img/instagram-like.svg") center no-repeat;
  background-size: 40px;
  margin-right: 10px;
}
/* line 1358, ../sass/screen.scss */
.instagram-section .instagram-grid .instagram-box .in-content .holder .buttons a.comment {
  background: url("../../img/instagram-comment.svg") center no-repeat;
  background-size: 40px;
}
/* line 1368, ../sass/screen.scss */
.instagram-section .instagram-grid .instagram-box:hover .in-content {
  opacity: 1;
}
/* line 1375, ../sass/screen.scss */
.instagram-section .load-instagram {
  clear: both;
  display: block;
  margin: 20px auto 0;
  width: 200px;
}

/* line 1384, ../sass/screen.scss */
.contact-info-box .contact-info-item {
  border-bottom: 1px dotted #e9e9e9;
  padding-bottom: 8px;
}
/* line 1388, ../sass/screen.scss */
.contact-info-box .contact-info-item i:not(.leave) {
  position: relative;
  top: -2px;
}

/* line 1396, ../sass/screen.scss */
.dp-full-img .the-img {
  background-position: center;
  background-size: cover;
  height: 250px;
}
@media only screen and (min-width: 640px) {
  /* line 1396, ../sass/screen.scss */
  .dp-full-img .the-img {
    height: 400px;
  }
}
@media only screen and (min-width: 870px) {
  /* line 1396, ../sass/screen.scss */
  .dp-full-img .the-img {
    height: 450px;
  }
}

/* line 1413, ../sass/screen.scss */
.page-title-wrap .button.right {
  clear: both;
  float: left;
  margin-top: 20px;
}
@media only screen and (min-width: 870px) {
  /* line 1413, ../sass/screen.scss */
  .page-title-wrap .button.right {
    clear: none;
    float: right;
    margin-top: 0;
  }
}

/* line 1426, ../sass/screen.scss */
.dp-large-cta {
  background-color: #2B6CA4;
  display: block;
  padding: 15px 18px 30px;
  position: relative;
}
/* line 1432, ../sass/screen.scss */
.dp-large-cta:hover {
  background-color: #20517c;
  color: #FFFFFF;
  text-decoration: none !important;
}
/* line 1438, ../sass/screen.scss */
.dp-large-cta:after {
  background: url("../../img/icon-guide.svg") right bottom no-repeat;
  background-size: 50px;
  bottom: 15px;
  content: '';
  height: 70px;
  position: absolute;
  right: 18px;
  width: 50px;
}
@media only screen and (min-width: 870px) {
  /* line 1438, ../sass/screen.scss */
  .dp-large-cta:after {
    background-size: 70px;
    bottom: auto;
    height: 100px;
    top: 15px;
    width: 70px;
  }
}
/* line 1457, ../sass/screen.scss */
.dp-large-cta h2, .dp-large-cta p {
  color: #FFFFFF;
}
/* line 1461, ../sass/screen.scss */
.dp-large-cta h2 {
  font-weight: 700;
  position: relative;
}
/* line 1465, ../sass/screen.scss */
.dp-large-cta h2:after {
  background-color: #FFFFFF;
  bottom: -10px;
  content: '';
  display: block;
  height: 1px;
  position: absolute;
  width: 60px;
}
/* line 1476, ../sass/screen.scss */
.dp-large-cta p {
  font-size: 17px;
  max-width: 300px;
}

/* line 1483, ../sass/screen.scss */
body.modal-open .bodyholder {
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}
/* line 1490, ../sass/screen.scss */
body.modal-open header {
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  z-index: 80;
}
@media only screen and (min-width: 1100px) {
  /* line 1490, ../sass/screen.scss */
  body.modal-open header {
    position: fixed !important;
    width: 100% !important;
    top: 0;
    left: 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
    transition: all 0.5s ease;
    z-index: 100;
    background: rgba(0, 0, 0, 0.99) !important;
    padding-top: 15px;
  }
}

/* line 1509, ../sass/screen.scss */
.modal-holder {
  background-color: rgba(51, 51, 51, 0.7);
  box-sizing: border-box;
  display: none;
  height: 100%;
  left: 0;
  padding-bottom: 20px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999999999999999999999999999999999;
}
/* line 1521, ../sass/screen.scss */
.modal-holder .close-modal {
  background-image: url("../../img/modal-close.svg");
  background-position: center;
  background-size: 40px;
  cursor: pointer;
  height: 40px;
  position: absolute;
  right: 15px;
  top: 15px;
  width: 40px;
}
@media only screen and (min-width: 870px) {
  /* line 1521, ../sass/screen.scss */
  .modal-holder .close-modal {
    right: 25px;
    top: 25px;
  }
}
/* line 1538, ../sass/screen.scss */
.modal-holder .contact-modal {
  background-color: #000000;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.95);
  box-sizing: border-box;
  left: 20px;
  margin: 0 auto;
  max-width: 800px;
  padding: 15px;
  position: absolute;
  right: 20px;
  top: 20px;
  width: calc(100% - 40px);
}
@media only screen and (min-width: 870px) {
  /* line 1538, ../sass/screen.scss */
  .modal-holder .contact-modal {
    padding: 25px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}
/* line 1558, ../sass/screen.scss */
.modal-holder .contact-modal h2 {
  color: #FFFFFF;
}
